.opp {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 0;
  border: none;
  box-shadow: none;
  height: 70px;
}

.tit {
  color: #fff;
  margin: 0;
  margin-left: 10px;
  font-size: 43px;
}
.web-mark {
  text-decoration: none;
}
