body {
  background-color: #090a0d;
}
/*2026년 내가 드디어 웹 개발을 분격적으로 접어드려는 시기 쯤 디자인을 하다보니 또한 기능들을 구현하고 시도하다보니 나 혼자 어려운것 또한 생각할 머리가 한 머리란 점에 있어 매우 지친다..*/
.op {
  background-color: #121319;
  border: 1px solid #1b1d25;
  border-radius: 30px;
  width: 70%;
  height: 42px;
  margin: 20px 0px;
  position: absolute;
  top: 710px;
  padding: 1px;
}
/*그래서 결론은 2026년도에는 나 뽄만 아닌 협력과 소통과 발전을 고려하여 개발 그룹 즉, 하나의 개발팀 구성을 고민해볼 것이다. 몇년후 니가 꼭 성공해 있기를 바라며..*/
