body {
  background-color: #090a0d;
}

.op {
  background-color: #121319;
  border: 1px solid #1b1d25;
  border-radius: 30px;
  width: 60%;
  height: 42px;
  margin: 20px 0px;
  position: absolute;
  top: 710px;
  padding: 1px;
}

.opp {
  background-color: #121319;
  border: 1px solid #1b1d25;
  border-radius: 26px;
  height: 28px;
  width: 25%;
  margin: 22px 10px 0 10px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 2;
  box-shadow: 0 0 30px 10px #ffffff;
}

.menu-a {
  color: lightskyblue;
  text-decoration: none;
  font-size: 16px;
  margin: 0 20px 0 20px;
  padding: 30px;
}

.menu-a:hover {
  text-align: cender;
  color: #4169e1;
  font-size: 20.5px;
  transition: 0.3s;
}

.menu-a:nth-of-type(1):hover {
  background-color: #121319;
  border: 1px solid #1b1d25;
  border-radius: 26px;
  height: 28px;
  padding-left: 60px;
  padding-right: 60px;
  position: absolute;
  top: 0;
  text-align: center;
  z-index: 2;
  box-shadow: 0 0 30px 10px #ffffff;
}
