<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>auis</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sameStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/auis.css') }}">
  </head>
  <body onload="loadStoredIdea()">
    <div class="opp">
      <nav>
        <a class="menu-a" href="hm.html">Home</a>
        <a class="menu-a">Auis</a>
        <a class="menu-a" href="st.html">Setting</a>
      </nav>
    </div>

    <div class="card">
      <a class="card-a" href="https://youtu.be/j2LZmDCCpKY?si=RGthDY3EFlISv5gv">
        <div class="card-im_if">
          <img
            class="card-img"
            src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg"
            alt="Tree under the sky"
          />
          <p class="card-title">너라는 별</p>
        </div>
        <div class="card-box-if">
          <div class="card-tage-box">
            <p class="card-tage">#발라드</p>
            <p class="card-tage">#R&B</p>
          </div>
          <hr class="card-in-hr" />
          <p class="card-mn">춥고 피곤해서 고생했을 당신들에게 추천합니다.</p>
        </div>
      </a>
    </div>
    <div class="bom" id="45tr"></div>
    <div class="op">
     <textarea id="youInput" 
  onkeydown="if(event.key === 'Enter') youC(); { event.preventDefault(); send(); }" 
  placeholder="내용을 입력하세요..." 
  style="resize: none;"></textarea>
      <button type="button" onclick="youC()" class="div1">보내기</button>
    </div>
    <script src="{{ url_for('static', filename='JS/input.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/chat.js') }}"></script>
  </body>
</html>
