<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>auis</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sameStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/auis.css') }}">
  </head>
  <body onload="loadStoredIdea()">
    <div class="opp">
    </div>
    <div class="bom" id="45tr"></div>
    <div class="op">
      <textarea id="youInput"  onkeydown="if(event.shiftKey && event.key === 'Enter') { event.preventDefault(); send(); }" oninput="; this.style.height=this.scrollHeight+'px';'" 
         placeholder="내용을 입력하세요..."></textarea>
      <button type="button" onclick="youC()" class="div1">보내기</button>
    </div>
    <script src="{{ url_for('static', filename='JS/input.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/chat.js') }}"></script>
  </body>
</html>
