<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sameStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/sameStyle.css') }}">
  </head>
  <body>
    <header class="opp">
      <a class="web-mark" href="auis.html"><h1 class="tit">auis</h1></a>
      <nav>
        <a class="menu-a" href=""></a>
        <a class="menu-a" href=""></a>
        <a class="menu-a" href=""></a>
      </nav>
    </header>
  </body>
</html>
