<!DOCTYPE html>
<html lang="ko">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>setting</title>
    <link rel="stylesheet" href="/CSS/sameStyle.css" />

    <link rel="stylesheet" href="{{ url_for('static', filename='/CSS/sameStyle.css') }}"
  </head>
  <body>
    <div class="opp">
      <nav>
        <a class="menu-a" href="hm.html">Home</a>
        <a class="menu-a" href="auis.html">Auis</a>
        <a class="menu-a">Setting</a>
      </nav>
    </div>
  </body>
</html>
